html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
}

.main {
    padding-bottom: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.lim-1n {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.lim-3n {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}