#navmenu {
  font-size: 4vw;
  color: #FCBF49;
  transition: 1s;
}

#navmenu:hover {
  cursor: pointer;
  color: #EAE287;
  transition: 1s;
}

.main {
  margin-left: 12vw;
}

.intro {
  color: #EAE2B7;
  font-size: 1.75vw;
  cursor: default;
  padding-top: 12.5vw;
}

.typewrite {
  color: #EAE2B7;
}

.topnav {
  margin: 0;
  left: 0;
  top: 0;
  padding-top: 3vw;
  padding-left: 3vw;
  position: fixed;
  height: 200vw;
  width: 7vw;
  overflow: auto;

  background-color: none;
  transition: 1s;
}

.topnav:hover {
  background-color: #D62828;
  transition: 1s;
}

.footer {
  height: 2000px;
}
