@media only screen and (max-width: 992px) {
  .info-nav {
    position: fixed;

    top: 20vh;
    left: 5vw;

    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: 4vw;

    border-color: white;
    border-width: 0.25vw;
    border-style: solid;
  }

  .info-nav h3 {
    font-size: 5vw;
    color: white;
    text-align: center;
    margin-bottom: 2vw;
  }

  .info-nav hr {
    border-top: 0.25vw solid white;
    border-bottom: none;
  }

  .info-nav-item {
    font-size: 3.5vw;
    color: white;
    text-transform: uppercase;
    text-align: left;
    line-height: 1vw;
  }

  .info-nav-item h4 {
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
  }

  .info-nav-item h4:hover {
    margin-left: 1vw;
    transition: 0.5s;

    font-weight: bolder;
  }

  .info-text {
    position: fixed;

    top: 20vh;
    right: 5vw;
  }

  .info-text h2 {
    line-height: 4.5vw;
    text-align: right;
  }

  .info-text h2 a {
    color: white;
    font-size: 6vw;
    text-transform: uppercase;
    text-decoration: none;
    background-color: none;

    padding-left: 2vw;
    padding-right: 2vw;
    margin-right: 2vw;

    transition: 1s;
  }

  .info-text h2 a:hover {
    background-color: white;
    color: black;

    transition: 1s;
  }

  .topnav {
    margin: 0;
    left: 0;
    top: 0;
    position: fixed;
    height: 8vh;
    width: 100%;
    overflow: hidden;
    display: grid;

    z-index: 99;

    background-color: #D62828;
    transition: 1s;
  }

  .topnav:hover {
    background-color: #D62828;
    transition: 1s;
  }

  .intro {
    color: #EAE2B7;
    font-size: 2.3vw;
    cursor: default;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);

    text-align: center;

    z-index: 2;
  }

  .project-box {
    margin: 20vh auto;

    height: 108vh;
    width: 88vw;
    opacity: 0.7;

    background-color: black;

    transition: 1s;
  }

  .project-box:hover {
    opacity: 1;

    transition: 1s;
  }

  .project-text {
    padding: 2vh 4vw;
    color: white;
    line-height: 2vh;
  }

  .floating:hover {
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-left: 0 !important;
      margin-top: 0 !important;
  }

  #navmenu, #to-contact {
    color: #FCBF49;
    transition: 1s;
    cursor: pointer;
    font-size: 4vh;
  }

  #navmenu:hover, #to-contact:hover, #to-top:hover {
    color: #EAE287;
    transition: 1s;
    cursor: pointer;
  }

  #navmenu {
    top: 2vh;
    left: 6vw;

    position: fixed;
  }

  #navtext {
    color: #EAE287;
    font-size: 2vh;
    cursor: default;
    letter-spacing: 3px;
    text-transform: uppercase;

    top: 1.75vh;
    left: 50%;
    transform: translate(-50%, 0);

    position: fixed;
  }

  #to-contact {
    top: 2vh;
    right: 6vw;

    position: fixed;
  }

  #bg-title {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 5vh;
    font-weight: bold;

    color: #D62828;
    cursor: default;
  }
}

@media only screen and (min-width: 992px) {
  .info-nav {
    position: fixed;

    top: 20vh;
    left: 5vw;

    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: 4vw;

    border-color: white;
    border-width: 0.25vw;
    border-style: solid;
  }

  .info-nav h3 {
    font-size: 3.5vw;
    color: white;
    text-align: center;
    margin-bottom: 2vw;
  }

  .info-nav hr {
    border-top: 0.25vw solid white;
    border-bottom: none;
  }

  .info-nav-item {
    font-size: 2.25vw;
    color: white;
    text-transform: uppercase;
    text-align: left;
    line-height: 1vw;
  }

  .info-nav-item h4 {
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
  }

  .info-nav-item h4:hover {
    margin-left: 1vw;
    transition: 0.5s;

    font-weight: bolder;
  }

  .info-text {
    position: fixed;

    top: 20vh;
    right: 5vw;
  }

  .info-text h2 {
    line-height: 7vh;
    text-align: right;
  }

  .info-text h2 a {
    color: white;
    font-size: 5vw;
    text-transform: uppercase;
    text-decoration: none;
    background-color: none;

    padding-left: 2vw;
    padding-right: 2vw;
    margin-right: 2vw;

    transition: 1s;
  }

  .info-text h2 a:hover {
    background-color: white;
    color: black;

    transition: 1s;
  }

  .topnav {
    margin: 0;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 6vw;
    overflow: hidden;
    display: grid;

    z-index: 99;

    padding-left: 1rem;
    padding-right: 1rem;

    background-color: none;
    transition: 1s;
  }

  .topnav:hover {
    background-color: #D62828;
    transition: 1s;
  }

  .intro {
    color: #EAE2B7;
    font-size: 1.75vw;
    cursor: default;
    padding-top: 12.5vw;
    margin-left: 12vw;

    position: absolute;
    top: 0;

    z-index: 2;
  }

  .project-box {
    margin: 30vh 8vw;

    height: 102vh;
    width: 40vw;
    opacity: 0.7;

    background-color: black;

    transition: 1s;
  }

  .project-box:hover {
    opacity: 1;
    width: 45vw;
    height: 103vh;

    transition: 1s;
  }

  .project-text {
    padding: 2vh 2vw;
    color: white;
    line-height: 2vh;
  }

  #navmenu, #to-contact {
    color: #FCBF49;
    transition: 1s;
    cursor: pointer;
    font-size: 2rem;
  }

  #navmenu:hover, #to-contact:hover, #to-top:hover {
    color: #EAE287;
    transition: 1s;
    cursor: pointer;
  }

  #navmenu {
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  #navtext {
    color: #EAE287;
    font-size: 1.25rem;
    cursor: default;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    letter-spacing: 3px;
    text-transform: uppercase;

    position: fixed;
    top: 50%;
    left: 2.15vw;

    transform: translate(0, -50%);
  }

  #to-contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 6vh;
  }

  #bg-title {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: bold;

    color: #D62828;
    cursor: default;
  }
}

.image-wrapper {
  overflow: hidden;
}

.bg-image {
  background-image: url("https://community.wolfram.com/c/portal/getImageAttachment?filename=hopf14.gif&userId=610054");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: -0.5rem;

  filter: blur(5px);

  height: 100vh;
  width: 100vw;
}

.infomenu {
  z-index: 100;
  position: fixed;
  margin: 0;

  display: none;

  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
}

.info-background {
  background-color: black;
  background-size: cover;

  height: 100vh;
  width: 100vw;
  opacity: 0.7;
}

.pop-up {
  text-decoration: none;
}

.typewrite {
  color: #EAE2B7;
}

.background-text {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

.project-image {
  height: 65vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-text {
  cursor: default;
}

.project-text h3 {
  font-size: 4vh;
  line-height: 4.25vh;
}

.project-text h3 .Subtitle {
  font-size: 3vh;
}

.project-text h4 {
  margin-top: -1vh;
  margin-bottom: 3vh;
  font-size: 2.5vh;
}

.project-text p {
  font-size: 2vh;
  line-height: 2.5vh;
}

.project-button {
  margin-top: 6vh;
  cursor: pointer;
}

.project-button a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 1.5vh 1.5vw;
  font-size: 2.5vh;

  font-weight: bolder;
  text-transform: uppercase;

  transition: 1s;
}

.project-button a:hover {
  background-color: #FCBF49;
  transition: 1s;
}

.footer {
  height: 2000px;
}

#infoexit {
  position: fixed;
  top: 6vh;
  right: 6vw;
  color: white;

  cursor: pointer;
  font-size: 5.5vh;

  transition: 1s;
}

#infoexit:hover {
  color: lightgray;
  transition: 1s;
}

#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  font-size: 4vh;
  bottom: 2vh;
  right: 6vw;
  transition: 1s;

  margin: auto;

  z-index: 99; /* Make sure it does not overlap */
  color: #FCBF49; /* Set a background color */
}

#project-1 {
  background-image: url("https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/001/363/577/datas/gallery.jpg");
}

#project-2 {
  background-image: url("https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/001/363/577/datas/gallery.jpg");
}

#project-3 {
  background-image: url("https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/001/363/577/datas/gallery.jpg");
}

#project-4 {
  background-image: url("https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/001/363/577/datas/gallery.jpg");
}
