.image-wrapper {
  overflow: hidden;
}

.bg-image {
  background-image: url("https://community.wolfram.com/c/portal/getImageAttachment?filename=hopf14.gif&userId=610054");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: -1vw;

  filter: blur(5px);

  height: 100vh;
}

.infomenu {
  z-index: 100;
  position: fixed;
  margin: 0;

  display: none;

  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
}

.info-background {
  background-color: black;
  background-size: cover;

  height: 100vh;
  width: 100vw;
  opacity: 0.7;
}

.info-text {
  position: fixed;

  top: 20vh;
  right: 5vw;
}

.info-text h2 {
  line-height: 7vh;
  text-align: right;
}

.info-text h2 a {
  color: white;
  font-size: 5vw;
  text-transform: uppercase;
  text-decoration: none;
  background-color: none;

  padding-left: 2vw;
  padding-right: 2vw;
  margin-right: 2vw;

  transition: 1s;
}

.info-text h2 a:hover {
  background-color: white;
  color: black;

  transition: 1s;
}

.intro {
  color: #EAE2B7;
  font-size: 1.75vw;
  cursor: default;
  padding-top: 12.5vw;
  margin-left: 12vw;

  position: absolute;
  top: 0;

  z-index: 2;
}

.pop-up {
  text-decoration: none;
}

.typewrite {
  color: #EAE2B7;
}

.topnav {
  margin: 0;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
  width: 6vw;
  overflow: hidden;
  display: grid;

  z-index: 99;

  padding-left: 1rem;
  padding-right: 1rem;

  background-color: none;
  transition: 1s;
}

.topnav:hover {
  background-color: #D62828;
  transition: 1s;
}

.projects {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

.footer {
  height: 2000px;
}

#infoexit {
  position: fixed;
  top: 6vh;
  right: 6vh;
  color: white;

  cursor: pointer;
  font-size: 2rem;

  transition: 1s;
}

#infoexit:hover {
  color: lightgray;
  transition: 1s;
}

#navmenu, #to-contact {
  color: #FCBF49;
  transition: 1s;
  cursor: pointer;
  font-size: 2rem;
}

#navmenu:hover, #to-contact:hover, #to-top:hover {
  color: #EAE287;
  transition: 1s;
  cursor: pointer;
}

#navmenu {
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#navtext {
  color: #EAE287;
  font-size: 1.5vw;
  cursor: default;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  letter-spacing: 3px;
  text-transform: uppercase;

  margin: auto;
}

#to-contact {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 6vh;
}

#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  font-size: 2rem;
  bottom: 6vh;
  right: 3vw;
  transition: 1s;

  margin: auto;

  z-index: 99; /* Make sure it does not overlap */
  color: #FCBF49; /* Set a background color */
}

#bg-title {
  z-index: -1;

  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: bold;

  color: #D62828;
  cursor: default;
}
